@using Feature.Labels
@using Website.Areas.ExampleSite.Models.Labels
@using X.PagedList
@using X.PagedList.Mvc
@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Website.Areas.ExampleSite.Models.Navigation.PaginatedPressReleaseListModel>
@{
	var labels = LabelRepository.GetLabelsForView<PressReleaseLabels>();
}

<div class="row">
	<div class="col-sm-12">
		<div class="list-group">
			@foreach (var item in Model.List)
			{
				<div class="list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">@item.Heading</h5>
						<small>@item.ReleaseDate.ToShortDateString()</small>
					</div>
					<p class="mb-1">
						@item.Summary <a href="@item.FriendlyUrl" title="@labels.ReadMore">@labels.ReadMore</a>
					</p>
				</div>
			}
		</div>
	</div>
	<div class="col-sm-12 align-content-center">
		<nav id="pagination" aria-label="List Navigation">
			<ul class="pagination">
				@for (int i = 1; i <= Model.PageCount; i++)
				{
					if (i == Model.Page)
					{
						<li class="page-item active">
							<a class="page-link" href="#">@i <span class="sr-only">(current)</span></a>
						</li>
					}
					else
					{
						<li class="page-item">
							<a class="page-link" href="@Model.ListHostUrl?page=@i">@i</a>
						</li>
					}
				}
			</ul>
		</nav>
		<div class="btn btn-lg"><a>@labels.LoadMore</a></div>
	</div>
</div>
